<% include ../partials/header %>

<h1>Update Password for <%= user.username %></h1>

      <form action="/admin/updatePwd" method="POST">
        <input type="password" name="password" placeholder="New Password">
        <button name="ID" value="<%= user.id %>">Reset Password</button>
      </form>
    </td>

</table>
<% include ../partials/footer %>
