<!DOCTYPE html>
<html>
<head>
	<title>FILEX Booklist</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" rel="stylesheet" type="text/css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
	<link href="/stylesheets/app.css" rel="stylesheet" type="text/css">
</head>
<body>
	<script>
	$(document).ready(function(){
    $('.ui.dropdown').dropdown();
	});
	</script>
    <div class="ui secondary pointing menu">
			<div class="ui pointing dropdown link item">
        <a class="active item" href="/craigslist">
            Listings
        </a>
			<div class="menu">
					<div class="header">Levels</div>
		      <div class="item"><a href="/level?q=1">Level 1</a></div>
					<div class="item"><a href="/level?q=2">Level 2</a></div>
					<div class="item"><a href="/level?q=3">Level 3</a></div>
					<div class="item"><a href="/level?q=4">Level 4</a></div>
					<div class="item"><a href="/level?q=5">Level 5</a></div>
					<div class="item"><a href="/craigslist">All</a></div>
				</div>
			</div>
        <a class="item" href="/craigslist/new">
            Add New Listing
        </a>
        <% if(!currentUser){ %>
             <a class="item" href="/register">
                Register
            </a>
             <a class="item" href="/login">
                Login
            </a>
        <% } else { %>
            <a class="item" href="/logout">
                Logout
            </a>
            <a class="item" href="/<%=currentUser._id%>/dashboard">
                Dashboard
            </a>
        <% } %>
        <div class="right menu">
            <h1 class="ui header">FILEX Booklist</h1>
        </div>

        <div class="right menu">
            <div class="ui transparent icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
    </div>
    <div class="ui container">
