<div class="ui primary menu compact">
  <a class="item" href="/level?q=1">
    Level 1
  </a>

  <a class="item" href="/level?q=2">
    Level 2
  </a>
  <a class="item" href="/level?q=3">
    Level 3
  </a>
  <a class="item" href="/level?q=4">
    Level 4
  </a>
  <a class="item" href="/level?q=5">
    Level 5
  </a>
</div>
