<% include ./partials/header %>

<h1>Registration Form</h1>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placholder="Password">
    <button>Register</button>
</form>
<% include ./partials/footer %>